/******************************************************************
STYLESHEET: INPUT

******************************************************************/

.form-input {

    &:focus {
        border: 5px solid $green;
        outline: 0;
    }
}

.is-selected {
    font-weight: 700;
    margin-top: 8px;
    @include fontsize-8;
    color: $purple-light;
    transition: all 0.2s ease-in-out;
}