/******************************************************************
STYLESHEET: LINKS

******************************************************************/

a {
    text-decoration: none;
    color: #fff;

    &:link,
    &:visited {
        color: #fff;
    }

    &:hover,
    &:focus,
    &:active {
        border-bottom: 2px solid #fff;
    }
}

.links {

    &-anchor {
        color: #fff;

        &:link,
        &:visited {
            color: #fff;
        }

        &:hover,
        &:focus,
        &:active {
            border-bottom: 2px solid #fff;
        }
    }

    .is-active {
        border-bottom: 2px solid #fff;
    }
}

.linkblock {

    &-anchor {
        color: $green-light;

        &:link,
        &:visited {
            color: $green-light;
        }

        &:hover,
        &:focus,
        &:active {
            color: $green-light;
            border-bottom: 2px solid $green-light;
        }
    }

    .is-active {
        border-bottom: 2px solid $green-light;
    }
}