/******************************************************************
STYLESHEET: LINKS

******************************************************************/

a {
    text-decoration: none;

    &:visited,
    &:hover,
    &:focus,
    &:active {/*
        color: $base-font-color; */
    }
}

.links {

    &-anchor {

        &:link,
        &:visited {
            color: $base-font-color;
        }

        &:hover,
        &:focus,
        &:active {
            color: $green;
        }
    }

    .is-active {
        color: $green;
        //padding-bottom: 10px;
        //border-bottom: 5px solid $green;
    }
}