/******************************************************************
STYLESHEET: LINKS

******************************************************************/

a {
    text-decoration: none;
/*
    color: $base-font-color;
    font-weight: 700; */

    &:active,
    &:focus,
    &:visited,
    &:hover {/*
        color: $base-font-color; */
    }
}