/******************************************************************
STYLESHEET: BOXES

******************************************************************/

.box {
    text-align: center;

    &-heading {
        padding-bottom: 30px;
    }

    &-portrait {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #fff;
        border: 5px solid #fff;
    }

    &-caption {
        padding-top: 10px;
        font-family: $heading-font-family;
    }

    &-quote {
        margin: 0;
        padding: 30px 0 50px 0;
    }

    &-text {
        text-align: left;
    }
}

@include tablet {
    .box {

        &-portraitwrapper {
            position: relative;
            height: 120px;
        }

        &-portrait {
            position: absolute;
            left: 50%;
            margin-left: -160px;
            width: 120px;
            height: 120px;
        }

        &-caption {
            position: absolute;
            right: 50%;
            top: 50%;
            margin-top: -30px;
            margin-right: -180px;
            text-align: left;
        }

        &-text {
            @include fontsize-12;
        }
    }
}

@include desktop {
    .box {

        &-text {
            float: left;
            width: 48%;
            margin-left: 4%;
        }
    }
}