/******************************************************************
STYLESHEET: BULLETLIST

******************************************************************/

.bulletlist {
    display: table;
    padding-bottom: 50px;
    text-align: left;

    &-item {
        text-align: left;
        @include fontsize-10;
        background-color: $grey-light;
        display: block;
        margin: 10px 0;
        border-radius: 2px;
    }

    &-heading {
        text-align: left;
        padding-bottom: 20px;

        &--inline {
            padding-top: 50px;
        }
    }

    &-number {
        color: #fff;
        display: table-cell;
        padding: 5px;
        vertical-align: middle;
        background-color: $purple;
        margin-right: 5px;
        @include fontsize-18;
        border-radius: 2px 0 0 2px;
    }

    &-text {
        display: table-cell;
        vertical-align: middle;
        padding: 20px;
    }

    &-em {
        display: table-cell;
        vertical-align: middle;
        padding-top: 5px;
        @include fontsize-8;
    }
}

@include tablet {
    .bulletlist {
        @include clearfix;

        &-item {
            float: left;
            margin-top: 0;
            width: 100%;
            @include fontsize-11;
        }

        &-number {
            height: 80px;
            height: rem(80);
        }

        &-text {
            height: 80px;
            height: rem(80);
        }

        &-em {
            @include fontsize-10;
        }
    }
}