/******************************************************************
STYLESHEET: BULLETLIST

******************************************************************/

.bulletlist {
    display: table;
    padding: 30px 0 50px 0;
    text-align: left;

    &-item {
        text-align: left;
        @include fontsize-10;
        background-color: $grey-light;
        display: block;
        margin: 10px 0;
    }

    &-number {
        color: #fff;
        font-family: $heading-font-family;
        display: table-cell;
        padding: 20px;
        vertical-align: middle;
        background-color: $purple;
        margin-right: 5px;
    }

    &-text {
        display: table-cell;
        vertical-align: middle;
        padding: 20px;
    }

    &-em {
        display: table-cell;
        vertical-align: middle;
        padding-top: 5px;
        @include fontsize-8;
    }
}

@include tablet {
    .bulletlist {
        @include clearfix;

        &-item {
            float: left;
            margin-top: 0;
            width: 50%;
        }

        &-number {
            height: 110px;
            height: rem(110);
        }

        &-text {
            height: 110px;
            height: rem(110);
        }
    }
}