/******************************************************************
STYLESHEET: CARDS

******************************************************************/

.card {
    margin-bottom: 30px;
    background-color: #fff;
    text-align: center;
    padding: 30px 0;
    float: left;

    &-heading {
        padding-top: 30px;
    }

    &-icon {
        margin: 0 auto;
        width: 120px;
        height: 120px;
        border-radius: 50%;

        &--green {
            background-color: $green;
        }

        &--yellow {
            background-color: $yellow;
        }

        &--purple {
            background-color: $purple;
        }
    }
}

@include tablet {
    .card {
        margin-bottom: 100px;
        margin-left: 3.5%;
        width: 31%;
    }
}