/******************************************************************
STYLESHEET: FOOTERLIST

******************************************************************/

.footerlist {
    text-align: center;
    padding-bottom: 50px;

    &-heading {
        padding-bottom: 50px;
    }

    &-list {
    }

    &-listitem {
        background-color: $purple;
        color: #fff;
        font-family: $heading-font-family;
        font-weight: 700;
        padding: 10px 20px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 100%;
        border-radius: 2px;

        &--green {
            background-color: $green;
        }
    }
}

@include tablet {
    .footerlist {
        padding-bottom: 70px;

        &-listitem {
            @include fontsize-10;
            width: auto;
        }
    }
}

@include desktop {
    .footerlist {

        &-listitem {
            @include fontsize-11;
        }
    }
}