/******************************************************************
STYLESHEET: HERO IMG

******************************************************************/

.heroimg {
    background-image: url('../../src/img/berge.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    height: 300px;
    text-align: center;

    &-logo {
        width: 200px;
        padding-top: 80px;
    }
 }

 @include tablet {
    .heroimg {

        &-logo {
            width: 250px;
        }
    }
 }

 @include desktop {
    .heroimg {

        &-logo {
            width: 300px;
            padding-top: 60px;
        }
    }
 }