/******************************************************************
STYLESHEET: HERO IMG

******************************************************************/

.heroimg {
    background-image: url('../../dist/img/berge.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position-x: center;
    height: 400px;
    text-align: center;

    &-logo {
        width: 200px;
        padding-top: 80px;
    }
 }

 @include tablet {
    .heroimg {

        &-logo {
            width: 220px;
            padding-top: 60px;
        }
    }
 }