/******************************************************************
STYLESHEET: LINKS

******************************************************************/

.links {
    text-align: center;
    font-weight: 700;

    &-listitem {
        margin: 25px 5px;
        @include fontsize-8;
    }

    &-anchor {

        &:link,
        &:visited,
        &:hover,
        &:active {
            color: $base-font-color;
        }
    }
}

@include tablet {
    .links {
        position: absolute;
        right: 5%;

        &-listitem {
            width: auto;
            margin: 25px 15px;
            @include fontsize-10;
        }
    }
}

@include desktop {
    .links {
        right: 20%;
    }
}