/******************************************************************
STYLESHEET: LINKS

******************************************************************/

.links {
    padding-top: 20px;
    text-align: center;
    font-weight: 700;

    &-listitem {
        margin: 25px 5px;
        @include fontsize-8;
    }
}

@include tablet {
    .links {

        &-listitem {
            width: auto;
            margin: 35px 40px;
            @include fontsize-10;
        }
    }
}