/******************************************************************
STYLESHEET: LINKBLOCK

******************************************************************/

.linkblock {
    text-align: center;
    display: block;

    &-heading {
        padding-bottom: 10px;
    }

    &-listitem {
        text-transform: uppercase;
        font-weight: 700;
        display: block;
        padding-bottom: 20px;
    }

    &-address {
        display: block;
    }
}

@include tablet {
    .linkblock {

        &-listitem {
            margin-right: 30px;
            display: inline-block;
        }
    }
}