/******************************************************************
STYLESHEET: LINKBLOCK

******************************************************************/

.linkblock {
    text-align: center;

    &-heading {
        padding-bottom: 10px;
    }

    &-listitem {
        display: block;
    }

    &-anchor {
        color: #fff;

        &:active,
        &:focus,
        &:visited,
        &:hover {
            color: #fff;
        }
    }
}

@include tablet {
    .linkblock {
        text-align: left;
        width: 33.33%;
        float: left;
        height: 150px;
    }
}