/******************************************************************
STYLESHEET: LOGO

******************************************************************/

.nav-logo {
    display: none;
}

.logowrapper {
    padding-bottom: 50px;

    .logo {
        width: 200px;
        display: block;
        margin: 0 auto;
    }
}

@include tablet {

    .nav-logo {
        display: inline-block;
        width: 180px;
        position: absolute;
        left: 5%;
    }

    .logowrapper {
        width: 33.33%;
        float: right;
        height: 150px;
        text-align: right;

        .logo {
            display: inline-block;
        }
    }
}

@include desktop {

    .nav-logo {
        left: 20%;
    }

}