/******************************************************************
STYLESHEET: LOGO

******************************************************************/

.nav-logo {
    display: none;
}

.logowrapper {
    padding-top: 100px;
    padding-bottom: 50px;

    .logo {
        width: 200px;
        display: block;
        margin: 0 auto;
    }
}

@include tablet {

    .nav-logo {
        display: inline-block;
        width: 180px;
        position: absolute;
        left: 5%;
    }
}

@include desktop {

    .nav-logo {
        left: 20%;
    }

}