/******************************************************************
STYLESHEET: LOGO

******************************************************************/

.minorlinks {
    text-align: center;
    @include fontsize-10;
    padding-bottom: 30px;
}

@include tablet {
    .minorlinks {
        margin-bottom: 0;
    }
}