/******************************************************************
STYLESHEET: SCROLLTOP

******************************************************************/

.scrolltop {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 50px;
    right: 10px;
}