/******************************************************************
STYLESHEET: BASE

    > BASE_STYLES
    > TYPOGRAPHY
    > HIGHLIGHTING
    > PRINT_STYLES

This is the place for all the default styling.
******************************************************************/


/*********************
BASE_STYLES
*********************/

html {
    font-family: $base-font-family;
    color: $base-font-color;
    font-size: 1em;
    line-height: 1.4;
}

body {
    background-color: #fff;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav {
    font-family: $heading-font-family;
    text-transform: uppercase;
}

figure {
    margin: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/*********************
TYPOGRAPHY
*********************/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: $heading-font-family;
}

h1 {
    @include fontsize-16;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    @include fontsize-14;
}

h3 {
    @include fontsize-12;
}

p {
    font-weight: 400;
    margin: 0;
    padding: 30px 0 50px 0;
}

blockquote {
    @include fontsize-12;
    font-weight: 300;
}

@include tablet {
    blockquote {
    @include fontsize-14;
    }
}


/*********************
HIGHLIGHTING
*********************/

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;

    > li {
        display: inline-block;
    }
}


/*********************
PRINT_STYLES
*********************/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}