/******************************************************************
STYLESHEET: LAYOUT

    > POSITIONING
    >

This is the place for all the layout styles.
******************************************************************/


/***************
POSITIONING
***************/

.l-left {
    float: left;
}

.l-right {
    float: right;
}