/******************************************************************
STYLESHEET: LAYOUT

    > NAV
    > SECTION
    > FOOTER
    > HELPER_CLASSES

This is the place for all the layout styles.
******************************************************************/


/***************
NAV
***************/

nav {
    width: 100%;
}


/***************
SECTION
***************/

.wrapper {
    position: relative;
    padding: 0 5%;
}

@include desktop {
    .wrapper {
        padding: 0 20%;
    }
}

.innerwrapper {
    @include clearfix;
    padding: 50px 5%;

    &.colorswitch--purple {
        color: #fff;
        background-color: $purple;
    }

    &.colorswitch--green {
        color: #fff;
        background-color: $green;
    }

    &--less {
        padding: 30px 20% 50px 20%;
    }
}

@include tablet {
    .innerwrapper {
        padding: 70px 5%;

        &--less {
            padding: 30px 20% 70px 20%;
        }
    }
}
@include desktop {
    .innerwrapper {
        padding: 100px 20%;

        &--less {
            padding: 30px 20% 100px 20%;
        }
    }
}



/***************
FOOTER
***************/

footer {
    color: $green-light;
    background-image: url('../../dist/img/berge_footer.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    height: 650px;
    font-family: $heading-font-family;
    position: relative;
    z-index: 10;
}

@include tablet {
    footer {
        background-size: auto;
        height: 550px;
    }
}


/***************
HELPER_CLASSES
***************/

.lastitem {
    margin-bottom: 0;
    margin-right: 0;
}

.firstitem {
    margin-top: 0;
    margin-left: 0;
}

.paddingtop {
    padding-top: 50px;
}

@include tablet {
    .paddingtop {
        padding-top: 70px;
    }
}

@include desktop {
    .paddingtop {
        padding-top: 100px;
    }
}

.paddingbottom {
    padding-bottom: 50px;
}

@include tablet {
    .borderleft {
        border-left: #fff solid 5px;
    }

    .borderright {
        border-right: #fff solid 5px;
    }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.shortened {
    width: 64.5%;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.notfound-wrapper {
    padding: 50px 5%;
    text-align: center;
}

.pos-rel {
    position: relative;
}

@include tablet {
    .notfound-wrapper {
        padding: 70px 5%;
    }
}

@include desktop {
    .notfound-wrapper {
        padding: 100px 20%;
    }
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid $green;
    margin: 10px auto -31px auto;
}

.arrow-left {
    display: none;
}

.arrow-right {
    display: none;
}

@include tablet {
    .arrow-left {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid $purple-light;
        display: inline-block;
        position: absolute;
        margin-left: -25px;
        bottom: 200px;
        display: block;
    }
    .arrow-right {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid $purple-light;
        display: inline-block;
        position: absolute;
        right: 5%;
        margin-right: -25px;
        bottom: 200px;
        display: block;
    }
}

@include desktop {
    .arrow-left {
        bottom: 180px;
    }
    .arrow-right {
        right: 20%;
        bottom: 180px;
    }
}