/******************************************************************
STYLESHEET: VARIABLES

    > COLORS
    > FONT_COLORS
    > FONTS

This is the place for all variables.
******************************************************************/


// COLORS
$green-light: #95c998;
$purple-light: #64465f;
$blue-light: #6ec6e5;
$purple-dark: #393138;
$grey-light: #e1e2e5;

// ALTERNATIVE COLORS
$orange: #f38156;
$green: #86C56E;
$yellow: #eFc555;
$blue: #3987a2;
$purple: #545671;

// FONT_COLORS
$base-font-color: $purple-dark;

// BACKGROUND_COLORS
$dark-background-color: $purple;
$medium-background-color: $orange;
$light-background-color: $grey-light;

// FONTS
$merriweathersans: 'Merriweather Sans', 'Helvetica', 'Arial', 'sans-serif';
$merriweather: 'Merriweather', 'Helvetica', 'Arial', 'sans-serif';
$base-font-family: $merriweather;
$heading-font-family: $merriweathersans;

// MEDIA_QUERIES
$tablet-width: 821px;
$desktop-width: 1361px;